.Home {
  position: fixed;
  padding: 90px 25px;
  // background-color: #eee;

  &--header {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
  }

  &--sidebar {
    &--opened {
      left: 20%;
    }

    &--closed {
      width: 100%;
      left: 0;
    }
  }
}
