.Card {
  background-color: blue;
  margin: 5px;
  min-width: 180px;
  width: 100%;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--button {
    cursor: pointer;
  }

  &__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  &__Image {
    width: 80%;
    height: 80%;
    min-height: 150px;
    margin: 10px;
  }

  &__title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
}
